* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.flex {
    display: flex;
}

.centered {
    justify-content: center;
    align-items: center;
}

/* main styling */

main {
    height: 100vh;
    background-color: #d8dbd6;
    position: relative;
}

#background-green-stripe {
    background-color: #009688;
    height: 10rem;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}


/* app-container styling */

.app-container {
    position: relative;
    width: 1200px;
    height: 90%;
    background-color: white;
}


/* section-contacts styling */

.contacts {
    width: 35%;
    background-color: #eaeaea;
}

/* contacts_header styling */

.contacts_header {
    padding: .5rem;
    height: 75px;
}

.my-profile {
    width: 80%;
    align-items: center;
}

.my-profile img {
    height: 100%;
    border-radius: 50%;
    margin-right: 10px;
}

.contacts_header-navbar {
    width: 20%;
    justify-content: space-evenly;
    align-items: center;
}


/* contacts_notification-bar styling */

.contacts_notification-bar{
    background-color: #8edafc;
    height: 70px;
    align-items: center;
    padding: 0 1rem;
}

.notification-bar_bell-icon {
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
    height: 45px;
    width: 45px;
}

.contacts_header-navbar div {
    width: calc(100% / 3);
    text-align: center;
}


/* contacts_searchbar styling */
.contacts_searchbar {
    height: 40px;
    background-color: white;
}

.contacts_searchbar-text {
    width: 80%;
}

#search-chat {
    width: 100%;
}


/* contacts_contacts-list styling */

.contacts_contacts-list {
    height: calc(100% - 185px);
    overflow: auto;
    background-color: white;
    padding: 1rem;
}

.contact {
    align-items: center;
}

.contact-pic {
width: 70px;
}

.contact-pic img {
    width: 100%;
    border-radius: 50%;
}

.contacts_contacts-list article {
    height: 80px;
}


/* chatbox styling */

.chatbox {
    width: 65%;

}