* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.flex {
    display: flex;
}

.centered {
    justify-content: center;
    align-items: center;
}

input {
    border: none;
}

/* main styling */

main {
    height: 100vh;
    background-color: #d8dbd6;
    position: relative;
}

#background-green-stripe {
    background-color: #009688;
    height: 10rem;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}


/* app-container styling */

.app-container {
    position: relative;
    width: 1200px;
    height: 90%;
    background-color: white;
}


/* section-contacts styling */

.contacts {
    width: 35%;
    background-color: #eaeaea;
}

/* contacts_header styling */

.contacts_header {
    padding: .5rem;
    height: 75px;
}

.my-profile {
    width: 80%;
    align-items: center;
}

.my-profile img {
    width: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.contacts_header-navbar {
    width: 20%;
    justify-content: space-evenly;
    align-items: center;
}

.contacts_header-navbar i {
    color: #b1b1b1;
}

/* contacts_notification-bar styling */

.contacts_notification-bar{
    background-color: #8edafc;
    height: 70px;
    align-items: center;
    padding: 0 1rem;
}

.notification-bar_bell-icon {
    background-color: white;
    color: #8edafc;
    font-size: 1.4rem;
    border-radius: 50%;
    margin-right: 10px;
    height: 45px;
    width: 45px;
}

.contacts_header-navbar div {
    width: calc(100% / 3);
    text-align: center;
}

.notification-bar_text a{
    color: #6080ac;
    font-size: .7rem;
}


/* contacts_searchbar styling */
.contacts_searchbar {
    height: 40px;
    background-color: white;
    padding: 0 1rem;
}

.contacts_searchbar-icon {
    width: 45px;
}

.contacts_searchbar-text {
    width: calc(100% - 45px);
    padding-right: 1.5rem;
}

#search-chat {
    width: 100%;
    height: 75%;
    padding-left: .5rem;
    font-size: .7rem;
    color: #525252;
    border-radius: .5rem;
}

.contacts_searchbar-icon i {
    color: #b1b1b1;
}


/* contacts_contacts-list styling */

.contacts_contacts-list {
    height: calc(100% - 185px);
    overflow: auto;
    background-color: white;
    padding: 1rem;
}

.contact {
    align-items: center;
    transition: all .3s;
    height: 80px;
    width: 100%;
}

.contact-info {
    width: 100%;
    align-self: flex-start;
    padding: .3rem 0 0 1rem;
}

.contact:hover {
    background-color: #e9ebeb;
}

div.contact-name-and-time {
    padding-top: .3rem;
    width: 100%;
}

.contact-pic {
width: 70px;
}

p.contact-name {
    margin-bottom: .3rem;
}

p.last-message {
    color: #9e999e;
    font-size: .7rem;
}

p.last-msg-time {
    color: #9e999e;
    font-size: .7rem;
    margin-left: auto;
}

.contact-pic img {
    width: 100%;
    border-radius: 50%;
}


/* chatbox styling */

.chatbox {
    width: 65%;
    border-left: 1px solid #e0e0e0
}


/* chatbox_header styling */

.chatbox_header {
    padding: .5rem;
    height: 75px;
    background-color: #eaeaea;
}

.interlocutor-profile {
    width: 85%;
    align-items: center;
}

.interlocutor-profile img {
    width: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.chatbox_header-navbar {
    width: 15%;
    justify-content: space-evenly;
    align-items: center;
}

.chatbox_header-navbar i {
    color: #b1b1b1;
}


/* chatbox_messages-display styling */

.chatbox_messages-display {
    padding: 2rem 4rem;
    height: calc(100% - 150px);
    overflow: auto;
    background-image: url(../img/mine.jpg);
}

.chatbox_messages-board {
    flex-direction: column;
}

.chatbox_messages-board div {
    align-self: flex-start;
    flex-direction: column;
    width: 40%;
    padding: 1rem .3rem .3rem 1rem;
    border-radius: .7rem;
    margin-bottom: .5rem;
}

div.received{
    background-color: #ffffff;
}

div.sent {
    align-self: flex-end;
    background-color: #d5f9ba;
}

p.message-text {
    font-size: .95rem;
    margin-bottom: .5rem;
}

p.message-date {
    color: #b8b1b8;
    font-size: .7rem;
    align-self: flex-end;
}


/* chatbox_input-message-bar styling */

.chatbox_input-message-bar {
    background-color: #f3eeea;
    height: 75px;
    padding: .3rem 1rem;
}

.chatbox_input-message-bar i{
    color:#6b7376;
}

.input-message_emoji {
    width: 50px;
}

.input-message-text {
    width: calc(100% - 100px);
}

.input-message-voice {
    width: 50px;
}

#input-message-box {
    width: 100%;
    border-radius: .5rem;
    padding-left: .5rem;
}