<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>

    <!-- Font Lato -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poetsen+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

    <!-- Fontawesome 6.5.2 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div id="app">
        <main class="flex centered">
            <div id="background-green-stripe"></div>
            <div class="app-container flex">
                <section class="contacts">
                    <header class="contacts_header flex">
                        <div class="my-profile flex">
                            <img :src="myProfile.avatar + '.jpg'" alt="my profile picture" id="my-profile-pic">
                            <span class="my-name">
                                {{myProfile.name}}
                            </span>
                        </div>
                        <nav class="contacts_header-navbar flex">
                            <div class="contacts_refresh-button">
                                <i class="fa-solid fa-circle-notch"></i>
                            </div>
                            <div class="contacts_new-chat-button">
                                <i class="fa-solid fa-message"></i>
                            </div>
                            <div class="contacts_settings-button">
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </nav>
                    </header>
                    <div class="contacts_notification-bar flex">
                        <div @click="toggleNotifications" class="notification-bar_bell-icon flex centered">
                            <i :class="isNotificationsOn === true ? 'fa-solid fa-bell' : 'fa-solid fa-bell-slash'"  id="notification-bell"></i></i>
                        </div>
                        <div class="notification-bar_text">
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <a href="">Attiva notifiche desktop</a>
                        </div>
                    </div>
                    <div class="contacts_searchbar flex centered">
                        <div class="contacts_searchbar-icon flex centered">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <div class="contacts_searchbar-text">
                            <input v-model="searchInput" type="text" style="height:20px"name="contacts_searchbar" id="search-chat" placeholder="Cerca o inizia una nuova chat">
                        </div>
                    </div>
                    <div class="contacts_contacts-list">
                        <article v-for="(contact, index) in contacts" v-show="isContactSearched(contact)" @click="activeChat = index" class="contact flex" :class="index === activeChat ? 'active-chat' : ''">
                            <div class="contact-pic">
                                <img :src="contact.avatar + '.jpg'" alt="contact avatar">
                            </div>
                            <div class="contact-info">
                                <div class="contact-name-and-time flex">
                                    <p class="contact-name">
                                        {{ contact.name }}
                                    </p>
                                    <p class="last-msg-time">
                                        {{ getTimeFormat(getLastMessage(index).date) }}
                                    </p>
                                </div>
                                <p class="last-message">
                                    {{ getLastMessage(index).message }}
                                </p>
                            </div>
                        </article>
                    </div>
                </section>
                <section class="chatbox">
                    <header class="chatbox_header flex">
                        <div class="interlocutor-profile flex">
                            <img :src="contacts[activeChat].avatar + '.jpg'" alt="interlocutor profile picture" id="interlocutor-profile-pic">
                            <span class="interlocutor-name">
                                {{contacts[activeChat].name}}
                            </span>
                        </div>
                        <nav class="chatbox_header-navbar flex">
                            <div class="chatbox_search-button">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </div>
                            <div class="chatbox_clip-button">
                                <i class="fa-solid fa-paperclip"></i>
                            </div>
                            <div class="chatbox_settings-button">
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </nav>
                    </header>
                    <div class="chatbox_messages-display">
                        <div class="chatbox_messages-board flex">
                            <div v-for="(messages, index) in getMessages()"
                            class="message flex" 
                            :class="messages.status"
                            @contextmenu.prevent="showContextMenu(index, $event)">
                                <p class="message-text">
                                    {{ messages.message }}
                                </p>
                                <p class="message-date">
                                    {{ getTimeFormat(messages.date) }}
                                </p>
                            </div>

                            <div v-if="contextMenu.visible" class="context-menu" :style="{ top: contextMenu.y + 'px', left: contextMenu.x + 'px' }">
                                <ul>
                                    <li @click="deleteMessage(contextMenu.messageIndex)">
                                        Elimina messaggio
                                    </li>
                                    <li @click="closeContextMenu">
                                        Chiudi Menu
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="chatbox_input-message-bar flex centered">
                        <div class="input-message_emoji flex centered">
                            <i class="fa-regular fa-face-smile"></i>
                        </div>
                        <div class="input-message-text">
                            <input @keyup.enter="pushNewMessage()" v-model="newMessage.message" type="text" style="height: 30px;" name="input message box" id="input-message-box" placeholder="Scrivi un messaggio">
                        </div>
                        <div class="input-message-voice flex centered">
                            <i class="fa-solid fa-microphone"></i>
                        </div>
                    </div>
                </section>
            </div>
        </main>
    </div>
    
    <!-- Vue3 -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- js -->
    <script src="./js/script.js"></script>
</body>
</html>